<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>formula-one</key>
	<dict>
		<key>paddock</key>
		<array>
			<dict>
				<key>id</key>
				<string>213969309</string>
				<key>en</key>
				<string>Stevenage&apos;s Very Own</string>
				<key>es</key>
				<string>Rompe-Récords de Stevenage</string>
				<key>es-MX</key>
				<string>Rompe-Récords de Stevenage</string>
			</dict>
			<dict>
				<key>id</key>
				<string>115044590</string>
				<key>en</key>
				<string>Retired After Beating Lewis</string>
				<key>es</key>
				<string>Retirado Tras Ser 🤴🏼🌎</string>
				<key>es-MX</key>
				<string>Retirado Tras Ser 🤴🏼🌎</string>
			</dict>
			<dict>
				<key>id</key>
				<string>4852859639</string>
				<key>en</key>
				<string>FIA Top 🐶</string>
				<key>es</key>
				<string>Actual Mandamás de la FIA</string>
				<key>es-MX</key>
				<string>Actual Mandamás de la FIA</string>
			</dict>
			<dict>
				<key>id</key>
				<string>353786894</string>
				<key>en</key>
				<string>Kid Who Saw Nando Drive</string>
				<key>es</key>
				<string>De la Grada a Correr con Nano</string>
				<key>es-MX</key>
				<string>De la Grada a Correr con Nano</string>
			</dict>
			<dict>
				<key>id</key>
				<string>2222976084</string>
				<key>en</key>
				<string>In a Relationship w/ Hulk</string>
				<key>es</key>
				<string>Pareja de boxeo de Hulk</string>
				<key>es-MX</key>
				<string>Pareja de boxeo de Hulk</string>
			</dict>
			<dict>
				<key>id</key>
				<string>490756890</string>
				<key>en</key>
				<string>Checo&apos;s er, Teammate?</string>
				<key>es</key>
				<string>¿Compañero de Checo?</string>
				<key>es-MX</key>
				<string>¿Compañero de Checo?</string>
			</dict>
			<dict>
				<key>id</key>
				<string>301426313</string>
				<key>en</key>
				<string>Where L5s Used to Shine</string>
				<key>es</key>
				<string>Casa del Ur Quattro</string>
				<key>es-MX</key>
				<string>Casa del Ur Quattro</string>
			</dict>
			<dict>
				<key>id</key>
				<string>28297965</string>
				<key>en</key>
				<string>Enstone Chassis, Viry Power</string>
				<key>es</key>
				<string>Chasis Enstone, Motor de Viry</string>
				<key>es-MX</key>
				<string>Chasis Enstone, Motor de Viry</string>
			</dict>
			<dict>
				<key>id</key>
				<string>229454266</string>
				<key>en</key>
				<string>Making Peter Proud Since 1993</string>
				<key>es</key>
				<string>Embajada Sueca en F1 Desde 1993</string>
				<key>es-MX</key>
				<string>Embajada Sueca en F1 Desde 1993</string>
			</dict>
			<dict>
				<key>id</key>
				<string>525208028</string>
				<key>en</key>
				<string>No One Puts Felipe in a Corner</string>
				<key>es</key>
				<string>¡Felipe, Baby!</string>
				<key>es-MX</key>
				<string>¡Felipe, Baby!</string>
			</dict>
			<dict>
				<key>id</key>
				<string>108247668</string>
				<key>en</key>
				<string>Helping Sell Prancing Horses Worldwide</string>
				<key>es</key>
				<string>Ayudan a Vender Ferraris</string>
				<key>es-MX</key>
				<string>Ayudan a Vender Ferraris</string>
			</dict>
			<dict>
				<key>id</key>
				<string>16143542</string>
				<key>en</key>
				<string>F-1&apos;s Most Efficient Team</string>
				<key>es</key>
				<string>El Equipo Más Eficiente de la F1</string>
				<key>es-MX</key>
				<string>El Equipo Más Eficiente de la F1</string>
			</dict>
			<dict>
				<key>id</key>
				<string>2303406624</string>
				<key>en</key>
				<string>American F-1 $, Ferrari Power</string>
				<key>es</key>
				<string>Dinero Americano, Potencia Ferrari</string>
				<key>es-MX</key>
				<string>Dinero Americano, Potencia Ferrari</string>
			</dict>
			<dict>
				<key>id</key>
				<string>24871896</string>
				<key>en</key>
				<string>Dreamers of Honda Power</string>
				<key>es</key>
				<string>Los Soñadores de Potencia Honda</string>
				<key>es-MX</key>
				<string>Los Soñadores de Potencia Honda</string>
			</dict>
			<dict>
				<key>id</key>
				<string>2900662775</string>
				<key>en</key>
				<string>Works Engine for McLaren F-1</string>
				<key>es</key>
				<string>Motorista Principal de McLaren F1</string>
				<key>es-MX</key>
				<string>Motorista Principal de McLaren F1</string>
			</dict>
			<dict>
				<key>id</key>
				<string>90636188</string>
				<key>en</key>
				<string>Historic F-1 Team Gone Midfield</string>
				<key>es</key>
				<string>Grande de la F1 Atascado en la Zona Media</string>
				<key>es-MX</key>
				<string>Grande de la F1 Atascado en la Zona Media</string>
			</dict>
			<dict>
				<key>id</key>
				<string>262230432</string>
				<key>en</key>
				<string>Speed Demon &amp; Ferrari Academy Driver</string>
				<key>es</key>
				<string>Piloto Ferrari Actualmente en F2</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1016076290</string>
				<key>en</key>
				<string>A Fan Account of &quot;Der Finger&quot;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>48391223</string>
				<key>en</key>
				<string>The Paddock&apos;s Only Licensed Game</string>
				<key>es</key>
				<string>Único Videojuego Licenciado del Paddock</string>
			</dict>
			<dict>
				<key>id</key>
				<string>82322622</string>
				<key>en</key>
				<string>Still Red Bull, but based in Italy</string>
				<key>es</key>
				<string>Red Bull, con base en Italia</string>
			</dict>
			<dict>
				<key>id</key>
				<string>252515763</string>
				<key>en</key>
				<string>Latin outlet for Motorsport.com</string>
				<key>es</key>
				<string>Página Hermana de Autosport</string>
				<key>es-MX</key>
				<string>Página Hermana de Autosport</string>
			</dict>
			<dict>
				<key>id</key>
				<string>507672047</string>
				<key>en</key>
				<string>#PlacesAlonsoWouldRatherBe</string>
				<key>es</key>
				<string>&quot;🎵El Nano aeee, El Nano aooo🎵&quot;</string>
				<key>es-MX</key>
				<string>&quot;🎵El Nano aeee, El Nano aooo🎵&quot;</string>
			</dict>
			<dict>
				<key>id</key>
				<string>26235265</string>
				<key>en</key>
				<string>The Ones to Beat in F-1</string>
				<key>es</key>
				<string>Los Rivales a Batir en F-1</string>
				<key>es-MX</key>
				<string>Los Rivales a Batir en F-1</string>
			</dict>
			<dict>
				<key>id</key>
				<string>167321831</string>
				<key>en</key>
				<string>Tyre Manufacturer</string>
				<key>es</key>
				<string>Fabricante de Neumáticos</string>
				<key>es-MX</key>
				<string>Fabricante de Gomas</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1143472657</string>
				<key>en</key>
				<string>Mercedes&apos; Flying Finn</string>
				<key>es</key>
				<string>Finlandés Volador de Mercedes</string>
				<key>es-MX</key>
				<string>Finlandés Volador de Mercedes</string>
			</dict>
			<dict>
				<key>id</key>
				<string>226087776</string>
				<key>en</key>
				<string>House of Dr. Marko</string>
				<key>es</key>
				<string>Casa del Dr. Helmut Marko</string>
				<key>es-MX</key>
				<string>Casa del Dr. Helmut Marko</string>
			</dict>
			<dict>
				<key>id</key>
				<string>121034444</string>
				<key>en</key>
				<string>Mercedes AMG Fuel &amp; Oil Supplier</string>
				<key>es</key>
				<string>Suministrador Lubricantes de Mercedes F1</string>
				<key>es-MX</key>
				<string>Suministrador Lubricantes de Mercedes F1</string>
			</dict>
			<dict>
				<key>id</key>
				<string>156635674</string>
				<key>en</key>
				<string>Nando&apos;s Teammate</string>
				<key>es</key>
				<string>2ºdo piloto de McLaren</string>
				<key>es-MX</key>
				<string>2ºdo piloto de McLaren</string>
			</dict>
			<dict>
				<key>id</key>
				<string>69008563</string>
				<key>en</key>
				<string>Official Sport Account</string>
				<key>es</key>
				<string>Cuenta Oficial del Deporte</string>
				<key>es-MX</key>
				<string>Cuenta Oficial del Deporte</string>
			</dict>
		</array>
		<key>press</key>
		<array>
			<dict>
				<key>id</key>
				<string>381691298</string>
				<key>en</key>
				<string>RaimonDuran</string>
				<key>es</key>
				<string>Agencia de Fotografía Histórica</string>
				<key>es-MX</key>
				<string>Agencia de Fotografía Histórica</string>
			</dict>
			<dict>
				<key>id</key>
				<string>22903129</string>
				<key>en</key>
				<string>Historic F-1 Picture Agency</string>
				<key>es</key>
				<string>Agencia de Fotografía Histórica</string>
				<key>es-MX</key>
				<string>Agencia de Fotografía Histórica</string>
			</dict>
			<dict>
				<key>id</key>
				<string>86740435</string>
				<key>en</key>
				<string>British Motorsports Presenter</string>
				<key>es</key>
				<string>Presentadora Británica</string>
				<key>es-MX</key>
				<string>Presentadora Británica</string>
			</dict>
			<dict>
				<key>id</key>
				<string>117042448</string>
				<key>en</key>
				<string>Spanish TV F1 Paddock Soldier</string>
				<key>es</key>
				<string>Soldado en el Paddock de Movistar</string>
				<key>es-MX</key>
				<string>Soldado en el Paddock de Movistar</string>
			</dict>
			<dict>
				<key>id</key>
				<string>265902729</string>
				<key>en</key>
				<string>Parent of BBC F-1 🤷🏽‍♂️</string>
				<key>es</key>
				<string>Matriz del Canal BBC F1</string>
				<key>es-MX</key>
				<string>Matriz del Canal BBC F1</string>
			</dict>
			<dict>
				<key>id</key>
				<string>148720585</string>
				<key>en</key>
				<string>Famous F1 Presenter in Spain</string>
				<key>es</key>
				<string>&quot;El Calvo de la Fórmula 1&quot;</string>
				<key>es-MX</key>
				<string>Famoso Presentador F1 en España</string>
			</dict>
			<dict>
				<key>id</key>
				<string>250613814</string>
				<key>en</key>
				<string>📸 All Kinds of Motorsport</string>
				<key>es</key>
				<string>📸 Toda Clase de Automovilismo</string>
				<key>es-MX</key>
				<string>📸 Toda Clase de Automovilismo</string>
			</dict>
			<dict>
				<key>id</key>
				<string>58444150</string>
				<key>en</key>
				<string>Don&apos;y Miss Anything He Writes</string>
				<key>es</key>
				<string>Grandísimo Periodista de la BBC F1</string>
				<key>es-MX</key>
				<string>Grandísimo Periodista de la BBC F1</string>
			</dict>
			<dict>
				<key>id</key>
				<string>56652148</string>
				<key>en</key>
				<string>&quot;Irony is My Second Name&quot;</string>
				<key>es</key>
				<string>La Ironía Es lo Suyo</string>
				<key>es-MX</key>
				<string>La Ironía Es lo Suyo</string>
			</dict>
			<dict>
				<key>id</key>
				<string>1221908557</string>
				<key>en</key>
				<string>Another American TV following F-1</string>
				<key>es</key>
				<string>Otra TV Americana Siguendo la F1</string>
				<key>es-MX</key>
				<string>Otra TV Americana Siguendo la F1</string>
			</dict>
			<dict>
				<key>id</key>
				<string>13382652</string>
				<key>en</key>
				<string>Have I done my predictions yet? 🤔</string>
				<key>es</key>
				<string>¿He hecho ya mis predicciones? 🤔</string>
				<key>es-MX</key>
				<string>¿He hecho ya mis predicciones? 🤔</string>
			</dict>
			<dict>
				<key>id</key>
				<string>194945814</string>
				<key>en</key>
				<string>Magnificent F1 Photographer</string>
				<key>es</key>
				<string>Mira sus 📸🏎 y hablamos</string>
				<key>es-MX</key>
				<string>Mira sus 📸🏎 y hablamos</string>
			</dict>
			<dict>
				<key>id</key>
				<string>19918839</string>
				<key>en</key>
				<string>Badass F1 Reporter for AMuS</string>
				<key>es</key>
				<string>Periodista F1 para AMuS</string>
				<key>es-MX</key>
				<string>Periodista F1 para AMuS</string>
			</dict>
			<dict>
				<key>id</key>
				<string>118342745</string>
				<key>en</key>
				<string>Blogger; Prev. Pro F-1 Photographer</string>
				<key>es</key>
				<string>José María Zapico, alias Zapi</string>
				<key>es-MX</key>
				<string>José María Zapico, alias Zapi</string>
			</dict>
			<dict>
				<key>id</key>
				<string>379086769</string>
				<key>en</key>
				<string>F-1 Opinions from the Paddock</string>
				<key>es</key>
				<string>Opiniones F1 desde el Paddock</string>
				<key>es-MX</key>
				<string>Opiniones F1 desde el Paddock</string>
			</dict>
			<dict>
				<key>id</key>
				<string>525754667</string>
				<key>en</key>
				<string>F1 Author &amp; TV Presenter</string>
				<key>es</key>
				<string>Autor y Comentarista de TV en F1</string>
				<key>es-MX</key>
				<string>Autor y Comentarista de TV en F1</string>
			</dict>
			<dict>
				<key>id</key>
				<string>239172505</string>
				<key>en</key>
				<string>Best F-1 TV Commentator</string>
				<key>es</key>
				<string>Antes Piloto, Ahora Presentador Sky F1</string>
				<key>es-MX</key>
				<string>Antes Piloto, Ahora Presentador Sky F1</string>
			</dict>
			<dict>
				<key>id</key>
				<string>254122621</string>
				<key>en</key>
				<string>Canal F1 Latin America Presenter</string>
				<key>es</key>
				<string>Presentadora en Canal F1 Latin America</string>
				<key>es-MX</key>
				<string>Presentadora en Canal F1 Latin America</string>
			</dict>
			<dict>
				<key>id</key>
				<string>140409019</string>
				<key>en</key>
				<string>American TV Following F-1</string>
				<key>es</key>
				<string>TV Americana Siguiendo la F1</string>
				<key>es-MX</key>
				<string>TV Americana Siguiendo la F1</string>
			</dict>
			<dict>
				<key>id</key>
				<string>54359532</string>
				<key>en</key>
				<string>Watch Out!  👀</string>
				<key>es</key>
				<string>¡Atento! 👀</string>
				<key>es-MX</key>
				<string>¡Atento! 👀</string>
			</dict>
			<dict>
				<key>id</key>
				<string>134733894</string>
				<key>en</key>
				<string>Ex F-1 Engineer, Now TV Journalist</string>
				<key>es</key>
				<string>Presentador Movistar F1</string>
				<key>es-MX</key>
				<string>Presentador Movistar F1</string>
			</dict>
			<dict>
				<key>id</key>
				<string>2375037612</string>
				<key>en</key>
				<string>Spanish F-1 TV Channel</string>
				<key>es</key>
				<string>Cadena Oficial de F1 en España</string>
				<key>es-MX</key>
				<string>Cadena Oficial de F1 en España</string>
			</dict>
			<dict>
				<key>id</key>
				<string>44571497</string>
				<key>en</key>
				<string>Renowned Magazine</string>
				<key>es</key>
				<string>Revista de Renombre</string>
				<key>es-MX</key>
				<string>Revista de Renombre</string>
			</dict>
			<dict>
				<key>id</key>
				<string>71370894</string>
				<key>en</key>
				<string>F-1 Journalist For Motorsport Magazine</string>
				<key>es</key>
				<string>Periodista F1 para Motorsport Magazine</string>
				<key>es-MX</key>
				<string>Periodista Independiente</string>
			</dict>
			<dict>
				<key>id</key>
				<string>505763330</string>
				<key>en</key>
				<string>TV Outlet</string>
				<key>es</key>
				<string>Cadena de TV</string>
				<key>es-MX</key>
				<string>Cadena de TV</string>
			</dict>
			<dict>
				<key>id</key>
				<string>20517081</string>
				<key>en</key>
				<string>&quot;The&quot; Motorsport Authority</string>
				<key>es</key>
				<string>&quot;La&quot; Autoridad en Motorsport</string>
				<key>es-MX</key>
				<string>&quot;La&quot; Autoridad en Motorsport</string>
			</dict>
			<dict>
				<key>id</key>
				<string>36339032</string>
				<key>en</key>
				<string>Autosport Sister Site</string>
				<key>es</key>
				<string>Página Hermana de Autosport</string>
				<key>es-MX</key>
				<string>Página Hermana de Autosport</string>
			</dict>
			<dict>
				<key>id</key>
				<string>368276033</string>
				<key>en</key>
				<string>Premier English F1 Channel</string>
				<key>es</key>
				<string>Canal de F-1 Inglés por Antonomasia</string>
				<key>es-MX</key>
				<string>Canal de F-1 Inglés por Antonomasia</string>
			</dict>
		</array>
		<key>other</key>
		<array>
			<dict>
				<key>id</key>
				<string>1937996600</string>
				<key>en</key>
				<string>⬆️ Read Above ⬆️</string>
				<key>es</key>
				<string>⬆️ Lee  ⬆️</string>
				<key>es-MX</key>
				<string>⬆️ Lee  ⬆️</string>
			</dict>
			<dict>
				<key>id</key>
				<string>219758387</string>
				<key>en</key>
				<string>F1 Tweep; German Media Translator</string>
				<key>es</key>
				<string>Tuitera F1; Traductora de Medios Alemanes</string>
				<key>es-MX</key>
				<string>Tuitera F1; Traductora de Medios Alemanes</string>
			</dict>
			<dict>
				<key>id</key>
				<string>270260958</string>
				<key>en</key>
				<string>Spanish F1 Commentator 90s/00s</string>
				<key>es</key>
				<string>Voz de la F-1 en España 90s y 00s</string>
				<key>es-MX</key>
				<string>Voz de la F-1 en España 90s y 00s</string>
			</dict>
			<dict>
				<key>id</key>
				<string>455678341</string>
				<key>en</key>
				<string>Tweep, F1 Changes Night Owl</string>
				<key>es</key>
				<string>Tuitero, Búho de Cambios en F1</string>
				<key>es-MX</key>
				<string>Tuitero, Búho de Cambios en F1</string>
			</dict>
		</array>
	</dict>
	<key>indycar</key>
	<dict>
		<key>paddock</key>
		<array>
			<dict>
				<key>id</key>
				<string>18156714</string>
				<key>en</key>
				<string>Home of Some Fancy Bricks</string>
				<key>es</key>
				<string>Hogar de Unos Curiosos Ladrillos</string>
				<key>es-MX</key>
				<string>Hogar de Unos Curiosos Ladrillos</string>
			</dict>
			<dict>
				<key>id</key>
				<string>125832497</string>
				<key>en</key>
				<string>2016 Indy 500 Winner</string>
				<key>es</key>
				<string>Ganador 500 Millas en 2016</string>
				<key>es-MX</key>
				<string>Ganador 500 Millas en 2016</string>
			</dict>
			<dict>
				<key>id</key>
				<string>21302878</string>
				<key>en</key>
				<string>Official IndyCar Account</string>
				<key>es</key>
				<string>Cuenta Oficial del Mundial IndyCar</string>
				<key>es-MX</key>
				<string>Cuenta Oficial del Mundial IndyCar</string>
			</dict>
		</array>
		<key>press</key>
		<array/>
		<key>other</key>
		<array/>
	</dict>
	<key>wrc</key>
	<dict>
		<key>paddock</key>
		<array>
			<dict>
				<key>id</key>
				<string>17781576</string>
				<key>en</key>
				<string> World Rally Championship</string>
				<key>es</key>
				<string>Campeonato Mundial de Rallyes</string>
				<key>es-MX</key>
				<string>Campeonato Mundial de Rallyes</string>
			</dict>
		</array>
		<key>press</key>
		<array/>
		<key>other</key>
		<array/>
	</dict>
	<key>wec</key>
	<dict>
		<key>press</key>
		<array/>
		<key>paddock</key>
		<array>
			<dict>
				<key>id</key>
				<string>2337130332</string>
				<key>en</key>
				<string>More Than Just Racing Beetles</string>
				<key>es</key>
				<string>El Coche Que Soñaste de Niño</string>
				<key>es-MX</key>
				<string>El Coche Que Soñaste de Niño</string>
			</dict>
			<dict>
				<key>id</key>
				<string>426488154</string>
				<key>en</key>
				<string>Official Account</string>
				<key>es</key>
				<string>Cuenta Oficial</string>
				<key>es-MX</key>
				<string>Cuenta Oficial</string>
			</dict>
		</array>
		<key>other</key>
		<array/>
	</dict>
</dict>
</plist>
